@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@font-face {
  font-family: "BebasNeue";
  src: url(../fonts/BebasNeue-Regular.ttf);
}
@font-face {
  font-family: "Saiyan";
  src: url(../fonts/Saiyan-Sans.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap", sans-serif;
}

.header {
  background-color: #002d5a;
  padding: 0.4rem 0.3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  width: 100%;
  position: fixed;
  z-index: 2;
  animation: fadeIn 1s ease-out;
}
.header a {
  text-decoration: none;
  color: white;
  margin: 0 3px;
  position: relative;
  transition: color 0.3s ease, transform 0.3s ease, font-weight 0.3s ease, box-shadow 0.3s ease;
}
.header a:visited {
  color: white;
  text-decoration: none;
}
.header a:hover {
  color: #777;
  text-decoration: none;
  transform: scale(1.2);
  font-weight: bold;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.header a:active {
  transform: scale(1.1);
}

@media (max-width: 237px) {
  .header {
    display: none;
  }
}
.logo {
  width: 4.5rem;
  opacity: 0;
  animation: fadeInOpacity 5s ease-out forwards;
}
@media (max-width: 309px) {
  .logo {
    display: none;
  }
}

.menu {
  list-style-type: none;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}
.menu .menu-link {
  text-decoration: none;
  color: #002d5a;
  transition: color 0.3s ease, transform 0.3s ease, font-weight 0.3s ease, box-shadow 0.3s ease;
}
.menu .menu-link:hover {
  color: #777;
  transform: scale(1.2);
  font-weight: bold;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.menu .menu-link:active {
  transform: scale(1.1);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeInOpacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Hero Index */
.hero {
  min-height: 100vh;
  background-image: url(../img/palacio_kami.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.hero .hero-title {
  font-size: 2.1rem;
}
.hero .hero-text {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-style: italic;
  font-size: 1.3rem;
}
.hero .hero-autor {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.05rem;
}
.hero .goku-face {
  width: 8rem;
  border: 0.3rem solid #002d5a;
  border-radius: 100%;
  margin-top: 1rem;
}

/* Hero (1) Ventajas */
.hero-ventajas {
  min-height: 100vh;
  background-image: url(../img/sheng_long1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.hero-ventajas .hero-ventajas-title {
  font-size: 1.8rem;
  color: white;
}
.hero-ventajas .hero-ventajas-text {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-style: italic;
  font-size: 1.2rem;
  color: white;
}
.hero-ventajas .hero-ventajas-autor {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;
  color: white;
}
.hero-ventajas .popo-face {
  width: 15rem;
  border: 0rem solid whitesmoke;
  border-radius: 60%;
  margin-top: 1rem;
  width: 70px;
}

/* Hero (2) Salud */
.hero-salud {
  min-height: 100vh;
  background-image: url(../img/torre_karin3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.hero-salud .hero-salud-content {
  width: 45%;
  background-color: rgba(77, 77, 77, 0.05);
  border-radius: 5%;
  padding: 1rem;
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
}
.hero-salud .hero-salud-title {
  font-size: 1.7rem;
  color: white;
  z-index: 1;
  text-shadow: 2px 1.2px 1px black;
}
.hero-salud .hero-salud-text {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-style: italic;
  font-size: 1.5rem;
  color: white;
  padding: 1rem;
  z-index: 1;
  text-shadow: 2px 1.2px 1px black;
}
.hero-salud .hero-salud-autor {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 0.9rem;
  color: white;
  padding: 0.5rem;
  z-index: 1;
  text-shadow: 2px 1.2px 1px black;
}
.hero-salud .hermitaño-face {
  width: 15rem;
  border: 0.12rem solid whitesmoke;
  border-radius: 100%;
  width: 100px;
  opacity: 0.8;
}

/* Hero (3) Ejército */
.background-ejercito {
  background-color: #002d5a;
}

.hero-ejercito {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: hidden;
}
.hero-ejercito::before {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url("../video/goku.mp4") no-repeat center center;
  background-size: cover;
  z-index: -1;
  display: block;
}
.hero-ejercito video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.hero-ejercito-content {
  width: 45%;
  background-color: rgba(68, 68, 68, 0.5);
  border-radius: 3%;
  padding: 1rem;
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
}

.hero-ejercito-title {
  font-size: 2rem;
  color: white;
  z-index: 1;
}

.hero-ejercito-text, .hero-ejercito-autor {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  z-index: 1;
}

.hero-ejercito-text {
  font-style: italic;
  font-size: 1.5rem;
}

.hero-ejercito-autor {
  font-size: 1rem;
}

/* Hero (4) Demografía */
.background-demografia {
  background-color: #002d5a;
}

.hero-demografia {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: hidden;
}
.hero-demografia::before {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url("../video/goku.mp4") no-repeat center center;
  background-size: cover;
  z-index: -1;
  display: block;
}
.hero-demografia video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.hero-demografia .hero-demografia-content {
  width: 45%;
  background-color: rgba(68, 68, 68, 0.4);
  border-radius: 3%;
  padding: 1rem;
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
}
.hero-demografia .hero-demografia-title {
  font-size: 2rem;
  color: white;
  z-index: 1;
  text-shadow: 2px 1.2px 1px black;
}
.hero-demografia .hero-demografia-text {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-style: italic;
  font-size: 1.5rem;
  color: white;
  padding: 1rem;
  z-index: 1;
  text-shadow: 2px 1.2px 1px black;
}

.card-title-demografia {
  font-size: 1.2rem;
  color: white;
  z-index: 1;
  text-shadow: 3px 3px 2px black;
  font-family: "Saiyan";
}

.lema-demografia-title {
  font-size: 2rem;
}

.lema-demografia-text {
  font-style: italic;
  font-size: 1.5rem;
}

/* Cards Index */
.cards-1, .cards-2, .cards-3 {
  padding: 1rem;
  display: flex;
  gap: 1rem;
  background-color: #002d5a;
  flex-wrap: wrap;
}
.cards-1 .card, .cards-2 .card, .cards-3 .card {
  flex: 1 1 calc(25% - 1rem);
  margin-bottom: 1rem;
  position: relative;
  border-radius: 0.8rem;
  background: linear-gradient(to bottom right, #ffffff, #c5c5c4);
  overflow: hidden;
  transition: box-shadow 0.3s ease;
}
@media (max-width: 768px) {
  .cards-1 .card, .cards-2 .card, .cards-3 .card {
    flex: 1 1 100%;
  }
}
.cards-1 .card .card-img, .cards-2 .card .card-img, .cards-3 .card .card-img {
  width: 100%;
  transition: transform 0.3s ease;
}
.cards-1 .card .card-info, .cards-2 .card .card-info, .cards-3 .card .card-info {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0.3rem;
  color: black;
}
.cards-1 .card:hover, .cards-2 .card:hover, .cards-3 .card:hover {
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
}
.cards-1 .card:hover .card-img, .cards-2 .card:hover .card-img, .cards-3 .card:hover .card-img {
  transform: scale(1.1);
}
.cards-1 .card .card-link, .cards-2 .card .card-link, .cards-3 .card .card-link {
  padding: 0.3rem 0.4rem;
  text-decoration: none;
  background-color: #002d5a;
  color: white;
  font-size: 0.92rem;
}
.cards-1 .card .card-link:visited, .cards-2 .card .card-link:visited, .cards-3 .card .card-link:visited {
  color: white;
}
.cards-1 .card .card-link:hover, .cards-2 .card .card-link:hover, .cards-3 .card .card-link:hover {
  color: #ccc;
  font-weight: bold;
  text-shadow: 1px 1px 2px #000;
}

/* Cards (1) Ventajas */
.cards-ventajas-1 {
  padding: 1rem;
  display: flex;
  gap: 1rem;
  background-color: #002d5a;
  flex-wrap: wrap;
}
.cards-ventajas-1 .card-ventajas {
  flex: 1 1 calc(25% - 1rem);
  margin-bottom: 1rem;
  position: relative;
  border-radius: 0.8rem;
  background: linear-gradient(to bottom right, #ffffff, #c5c5c4);
  overflow: hidden;
  transition: box-shadow 0.3s ease;
}
@media (max-width: 768px) {
  .cards-ventajas-1 .card-ventajas {
    flex: 1 1 100%;
  }
}
.cards-ventajas-1 .card-ventajas .card-ventajas-big-img {
  width: 100%;
}
.cards-ventajas-1 .card-ventajas .card-ventajas-img {
  width: 100%;
  transition: transform 0.3s ease;
}
.cards-ventajas-1 .card-ventajas .card-ventajas-info {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0.3rem;
  color: black;
}
.cards-ventajas-1 .card-ventajas:hover {
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
}
.cards-ventajas-1 .card-ventajas:hover .card-ventajas-img {
  transform: scale(1.1);
}

/* Cards (2) Salud */
.cards-salud-1, .cards-salud-2 {
  padding: 1rem;
  display: flex;
  gap: 1rem;
  background-color: #002d5a;
  flex-wrap: wrap;
}
.cards-salud-1 .card-salud, .cards-salud-2 .card-salud {
  flex: 1 1 calc(25% - 1rem);
  margin-bottom: 1rem;
  position: relative;
  border-radius: 0.8rem;
  background: linear-gradient(to bottom right, #ffffff, #c5c5c4);
  overflow: hidden;
  transition: box-shadow 0.3s ease;
}
@media (max-width: 768px) {
  .cards-salud-1 .card-salud, .cards-salud-2 .card-salud {
    flex: 1 1 100%;
  }
}
.cards-salud-1 .card-salud .card-salud-img, .cards-salud-2 .card-salud .card-salud-img {
  width: 100%;
  transition: transform 0.3s ease;
}
.cards-salud-1 .card-salud .card-salud-info, .cards-salud-2 .card-salud .card-salud-info {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0.3rem;
  color: black;
}
.cards-salud-1 .card-salud:hover, .cards-salud-2 .card-salud:hover {
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
}
.cards-salud-1 .card-salud:hover .card-salud-img, .cards-salud-2 .card-salud:hover .card-salud-img {
  transform: scale(1.1);
}

/* Cards (3) Ejército */
.cards-container {
  margin: auto;
  padding: 1rem;
}
@media (max-width: 650px) {
  .cards-container {
    flex-direction: column;
  }
}

.cards-ejercito-1, .cards-ejercito-2 {
  padding: 2rem;
  display: flex;
  gap: 1rem;
  position: relative;
  flex-wrap: wrap;
}

.card-ejercito {
  flex: 1;
  border-radius: 0.8rem;
  background: linear-gradient(to bottom right, #ffffff, #c5c5c4);
  overflow: hidden;
  transition: box-shadow 0.3s ease;
}

.card-ejercito-img {
  width: 100%;
  transition: transform 0.3s ease;
}

.card-ejercito-info {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0.3rem;
  color: black;
}

.card-ejercito:hover {
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
}
.card-ejercito:hover .card-ejercito-img {
  transform: scale(1.1);
}

/* Grid (3) Ejército */
.common-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.grid-container {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
  grid-template-rows: 2fr 1fr;
  grid-template-areas: "item1 item1 item3" "item4 item5 item6";
  align-items: stretch;
  justify-items: stretch;
}
@media (max-width: 990px) {
  .grid-container {
    grid-template-columns: 2fr 2fr;
    grid-template-rows: 2fr 1fr 1fr;
    grid-template-areas: "item1 item1" "item3 item4" "item5 item6";
  }
}
@media (max-width: 700px) {
  .grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "item1" "item3" "item4" "item5" "item6";
  }
}

.grid {
  margin-bottom: 2rem;
  position: relative;
}

.grid-item1 {
  grid-area: item1;
}

.img-item1 {
  width: 100%;
  height: 100%;
}

.grid-item3 {
  flex-direction: column;
  text-align: center;
  color: white;
  overflow: hidden;
}

.grid-item2, .grid-item3, .grid-item4 {
  background: linear-gradient(to bottom right, #054d94, #002041);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.7rem;
  color: white;
  padding: 3rem;
}

.grid-item3 {
  background: linear-gradient(to top right, #002041, #06529e);
}

.popo-text, .grid-text2, .grid-text3 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-style: italic;
  font-size: 1.8rem;
}

.popo-autor {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.2rem;
}

.popo-face {
  width: 8rem;
  border: 0.05rem solid #d9dde2;
  border-radius: 100%;
  margin-top: 1rem;
}

.image-presentador {
  width: 25rem;
  height: auto;
  min-width: 100%;
}

.lema-ejercito-text {
  font-style: italic;
  font-size: 1.7rem;
}
@media (max-width: 500px) {
  .lema-ejercito-text {
    font-size: 1.1rem;
  }
}

.text-body-secondary-ejercito {
  font-size: 1.1rem;
}
@media (max-width: 500px) {
  .text-body-secondary-ejercito {
    font-size: 0.8rem;
  }
}

.dimensions-video-ejercito {
  min-height: 50vh;
  width: 100%;
}

.footer {
  background: #002d5a;
  color: white;
  text-align: center;
  padding: 3rem;
}

.footer-lema {
  font-family: "Saiyan", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 3rem;
}/*# sourceMappingURL=main.css.map */