/* Cards Index */

.cards-1, .cards-2, .cards-3 {
    padding: 1rem;
    display: flex;
    gap: 1rem;
    background-color: $mainColor;
    flex-wrap: wrap;

    .card {
        flex: 1 1 calc(25% - 1rem);
        margin-bottom: 1rem;
        position: relative;

        @media (max-width: $breakpoint-width) {
            flex: 1 1 100%;
        }

        border-radius: 0.8rem;
        background: linear-gradient(to bottom right, #ffffff, #c5c5c4);
        overflow: hidden;
        transition: box-shadow 0.3s ease;

        .card-img {
            width: 100%;
            transition: transform 0.3s ease;
        }

        .card-info {
            
            padding: 1rem;
            display: flex;
            flex-direction: column;
            align-items: start;
            gap: 0.3rem;
            color: black;
        }

        &:hover {
            box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);

            .card-img {
                transform: scale(1.1);
            }
        }

        .card-link {
            padding: 0.3rem 0.4rem;
            text-decoration: none;
            background-color: $mainColor;
            color: $secondaryColor;
            font-size: 0.92rem;

            &:visited {
                color: $secondaryColor;
            }

            &:hover {
                color: #ccc;
                font-weight: bold;
                text-shadow: 1px 1px 2px #000;
            }
        }
    }
}


/* Cards (1) Ventajas */

.cards-ventajas-1 {
    padding: 1rem;
    display: flex;
    gap: 1rem;
    background-color: $mainColor;
    flex-wrap: wrap;
    .card-ventajas {
        flex: 1 1 calc(25% - 1rem);
        margin-bottom: 1rem;
        position: relative;

        @media (max-width: $breakpoint-width) {
            flex: 1 1 100%;
        }

        border-radius: 0.8rem;
        background: linear-gradient(to bottom right, #ffffff, #c5c5c4);
        overflow: hidden;
        transition: box-shadow 0.3s ease;

        .card-ventajas-big-img {
            width: 100%;
        }

        .card-ventajas-img {
            width: 100%;
            transition: transform 0.3s ease;
        }

        .card-ventajas-info {
            padding: 2rem;
            display: flex;
            flex-direction: column;
            align-items: start;
            gap: 0.3rem;
            color: black;
        }

        &:hover {
            box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);

            .card-ventajas-img {
                transform: scale(1.1);
            }
        }
    }
}


/* Cards (2) Salud */

.cards-salud-1, .cards-salud-2 {
    padding: 1rem;
    display: flex;
    gap: 1rem;
    background-color: $mainColor;
    flex-wrap: wrap;

    .card-salud {
        flex: 1 1 calc(25% - 1rem);
        margin-bottom: 1rem;
        position: relative;

        @media (max-width: $breakpoint-width) {
            flex: 1 1 100%;
        }

        border-radius: 0.8rem;
        background: linear-gradient(to bottom right, #ffffff, #c5c5c4);
        overflow: hidden;
        transition: box-shadow 0.3s ease;

        .card-salud-img {
            width: 100%;
            transition: transform 0.3s ease;
        }

        .card-salud-info {
            padding: 2rem;
            display: flex;
            flex-direction: column;
            align-items: start;
            gap: 0.3rem;
            color: black;
        }

        &:hover {
            box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);

            .card-salud-img {
                transform: scale(1.1);
            }
        }
    }
}


/* Cards (3) Ejército */

.cards-container {
    margin: auto;
    padding: 1rem;

    @media (max-width: 650px) {
        flex-direction: column;
    }
}

.cards-ejercito-1, .cards-ejercito-2 {
    padding: 2rem;
    display: flex;
    gap: 1rem;
    position: relative;
    flex-wrap: wrap;
}

.card-ejercito {   
    flex: 1;
    border-radius: 0.8rem;
    background: linear-gradient(to bottom right, #ffffff, #c5c5c4);
    overflow: hidden;
    transition: box-shadow 0.3s ease;
}

.card-ejercito-img {
    width: 100%;
    transition: transform 0.3s ease;
}

.card-ejercito-info {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 0.3rem;
    color: black;
}

.card-ejercito:hover {
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);

    .card-ejercito-img {
        transform: scale(1.1);
    }
}
