.footer {
    background: $mainColor;
    color: $secondaryColor;
    text-align: center;
    padding: 3rem;
}

.footer-lema {
    font-family: $Saiyan, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 3rem;
}